<% include head.ejs %>

<body>
  <% include nav.ejs %>
<div class="container">
  <%- alert %>

  <div class="row" style="margin-top:5vh;">

    <div class="col-md-6 offset-md-3">
      <h1 class="brand text-center">v0te!</h1>
      <p style="font-size:3vh;line-height:4vh;margin:5vh 0 5vh 0">Hey there! v0te! is a web application that enables users to vote
        on polls, create custom polls and share them on twitter. You can view the results in real time!
        <br>
        You need to login via Google+ to create and manage your own polls!
        <br>
        ***Mobile view is not optimized yet***
        <br>
        Skills: Node.js, Express and MongoDB
      </p>
      <div class="text-center">
      <a class="btn btn-primary" href="/polls">View Polls</a><span style="margin:0 2vh 0 2vh">or</span>
      <a class="btn btn-primary" href="/createpoll">Create Poll</a>
      </div>
    </div>

  </div>

</div>

</body>
</html>
